body {
    background-color: #516e8b;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.accordion-container {
    max-width: 500px;
    position: relative;
    margin: 10px auto;
    height: auto;
}
.accordion-container>h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.set {
    position: relative;
    height: auto;
    background-color: #f5f5f5;
    width: 100%;
}
.set>a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: #555;
    border-bottom: 1px solid #ddd;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.set>a i {
    margin-top: 2px;
    float: right;
}
.set>a.active {
    color: #fff;
    background-color: #3399cc;
}
.content {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: none;
}
.content p {
    padding: 10px 15px;
    color: #333;
    margin: 0;
}